:root {
    --cor-azul: #182159;
    --cor-rosa-1: #8267ED;
    --fonte:'Roboto Mono', monospace;
}

body {
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-game {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.path {
    width: 40px;
    height: 40px;
    min-width: 30px;
    min-width: 30px;
    background-color: var(--cor-rosa-1);
}

.wall {
    height: 40px;
    width: 40px;
    background-color: var(--cor-azul);
}

.player {
    display: flex;
    background-image: url("player.png");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
}

.victory-img {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 300px;
    left: 680px;
    font-size: 4rem;
    font-family: var(--fonte);
    color: lawngreen;
    background-color: rgba(0, 0, 0, 0.80);
}